*{
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#addTaskEditor .buttonWrapper {
  display: inline-block;
}

#addTaskEditor button {
  background: #333;
  color: #ddd;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 36px;
  width: 36px;
  border-radius: 4px;
  display: inline-block;
}

#addTaskEditor button svg {
  fill: #ddd;
}

#addTaskEditor button:hover,#addTaskEditor  button:focus {
  background: #444;
  outline: 0; /* reset for :focus */
}

#addTaskEditor active {
  color: #6a9cc9;
}

#addTaskEditor active svg {
  fill: #6a9cc9;
}